/* ----------------------------------------------------------------
	Responsive CSS
-----------------------------------------------------------------*/


/*
Large devices
Desktops (≥1200px) 
*/

@media (min-width: 1200px) {
    body.boxed #wrapper,
    body.boxed-simple #wrapper,
	body.boxed .body-inner,
    body.boxed-simple .body-inner{
        float: none;
        width: 1220px;
        margin: 0 auto;
    }
    body.boxed-simple #wrapper,
	body.boxed .body-inner {
        margin-top: 40px;
        margin-bottom: 40px;
        padding: 20px;
    }

    #prices {
       height: 0em;
       width: 0em;
       padding: 0em;
    }

    #desktop {
        display: none;
    }

    .moreBox {
        width: 33.333%;
    }


}

@media (min-width: 992px) and (max-width: 1199px) {
    .news-section-wrapper {
        padding: 0 40px
    }

    #desktop {
        display: none;
    }

    .moreBox {
        width: 33.333%;
    }

    #canvas {
        width: 300px;
        height: 300px;
    }
}


/*
Medium devices
Desktops (≥992px)
*/

@media (max-width: 991px) {

    
    #header #header-wrap #logo {
    margin: 0 auto !important;
    max-width: 130px;
    position: absolute !important;
    z-index: 2;
    }
    #wrapper,
	.body-inner {
        width: 100%;
        margin: 0;
    }
    .p-t-200 {
        padding-top: 80px !important;
    }
    .p-b-200 {
        padding-bottom: 80px !important;
    }
    .text-sm-center {
        text-align: center !important;
    }
    

   

    #content {
       height: 0em;
       width: 0em;
       padding: 0em;
    }

    .moreBox {
        width: 50%;
    }

    #canvas {
        display: none;
    }

    #start {
        margin-top: 10%;
    }






@media (min-width: 400px) and (max-width: 967px) {

    .heading-text h2 {
       font-size: 26px !important;
    }

    #subtitle {
        font-size: 16px !important;
       
    }

    #title {
        margin: 0px !important;
    }

    /*hides these sections*/
    #section6 {
        display: none;
    }

    #counters {
        display: none;
    }

    
    #blockchain { 
        display: none;
     }  
     
    #portfolio div {
        margin-bottom: 0px !important;
        margin-top: 0px !important;
    }

    #services div {
        margin-bottom: 0px !important;
        margin-top: 0px !important;

    }

    #welcome div {
        
        margin-top: 0px !important;
    }

    #contact div {
        margin-top: 35px !important;    
    }

    .contact form {
        grid-gap:20px;
    }

    .moreBox {
        width: 100%;
    }

    #canvas {
        display: none;
    }
    
    #start {
        position: absolute;
        left: 40%;
        
    }
}


@media (min-width: 1px) and (max-width: 400px) {

    .moreBox {
        width: 100%;
    }

    #canvas {
        display: none;
    }

    #start {
        position: absolute;
        left: 35%;
        margin-top: 20%;
        
    }

    .heading-text h2 {
        font-size: 26px !important;
     }

     #section6 {
        display: none;
    }

    #counters {
        display: none;
    }

    
    #blockchain { 
        display: none;
     } 

  
    h4 {
        letter-spacing: 0.14em;
 
    }

    section {
        padding: 10% 0%;
    }

    #contact {
        margin-top: 10%;
        
    }

    .contact {
        padding-top: 10%;
    }


}




