/*
Large devices
Desktops (≥1200px) 
*/

@media (min-width: 1025px) {

    body.boxed #wrapper,
    body.boxed-simple #wrapper,
	body.boxed .body-inner,
    body.boxed-simple .body-inner{
        float: none;
        width: 1220px;
        margin: 0 auto;
    }
    body.boxed-simple #wrapper,
	body.boxed .body-inner {
        margin-top: 40px;
        margin-bottom: 40px;
        padding: 20px;
    }

    #prices {
       display: none;
    }

    #desktop {
        display: none;
    }

    .moreBox {
        width: 33.333%;
    }
}


/*
Medium devices
*/

@media (max-width: 1025px) {

    .heading-text h2 {
        font-size: 26px !important;
     }

    #content {
       display: none;
    }

    .moreBox {
        width: 50%;
    }

    #canvas {
        display: none;
    }

    #start {
        display: none;
    }

    #circ {
        display: none;
    }

    #section6 {
        display: none;
    }

    #counters {
        display: none;
    }

}



@media (max-width: 767px) {

    .heading-text h2 {
       font-size: 26px !important;
    }

    #subtitle {
        font-size: 16px !important;     
    }

    #title {
        margin: 0px !important;
    }

    /*hides these sections*/
    #section6 {
        display: none;
    }

    #counters {
        display: none;
    }
   
    #blockchain { 
        display: none;
     }  
     
    #portfolio div {
        margin-bottom: 0px !important;
        margin-top: 0px !important;
    }

    #services div {
        margin-bottom: 0px !important;
        margin-top: 0px !important;
    }

    #welcome div {       
        margin-top: 0px !important;
    }

    #contact div {
        margin-top: 35px !important;    
    }

    .contact form {
        grid-gap:20px;
    }

    .moreBox {
        width: 100%;
    }

    #canvas {
        display: none;
    }
    
    #start {
        display: none;
    }

    #circ {
        display: none;
    }
}

@media (max-width: 400px) {

    .moreBox {
        width: 100%;
    }

    #canvas {
        display: none;
    }

    #start {
        position: absolute;
        left: 35%;
        margin-top: 20%;      
    }

    .heading-text h2 {
        font-size: 26px !important;
    }

    #section6 {
        display: none;
    }

    #counters {
        display: none;
    }

    #blockchain { 
        display: none;
     } 

    #circ {
        display: none;
    }

    h4 {
        letter-spacing: 0.14em;
    }

    section {
        padding: 10% 0%;
    }

    #contact {
        margin-top: 10%;   
    }

    .contact {
        padding-top: 10%;
    }
}